<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:replace="/fragments/header :: html_head">
</head>
<body>
	<div th:replace="/fragments/header :: header"></div>

	<div class="container-fluid ">

		<!-- Bảng -->
		<div class="row">
			<!-- bỏ -->
			<div class="col-1"></div>

			<!-- Giao diện chính nằm ở đây -->
			<div class="col-10 ">

				<div class="border border-light ">
					<div class="w-100">
						<h1 class="text-center my-3">Add project</h1>
					</div>
				</div>

				<div class="d-flex justify-content-center">
					<div class="w-50">
						<form class="form-control"
							th:action="@{/addProject(btnFunction=${btnFunction})}"
							method="post" th:object="${projectModel}">

							<div class="form-group row">
								<label for="projectId" class="col-sm-3 col-form-label">project
									Id</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="projectId"
										name="projectId" th:value="${projectModel.projectId}"
										th:disabled="${btnFunction == 'Update'}">
									<div class="text-danger text-left" th:text="${IdExist}"></div>
								</div>
								<input type="text" hidden class="form-control" id="projectId"
									name="projectId" th:value="${projectModel.projectId}">
							</div>

							<div class="form-group row">
								<label for="projectName" class="col-sm-3 col-form-label">project
									Name</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="projectName"
										name="projectName" th:value="${projectModel.projectName}">
									<div class="text-danger err text-left" th:text="${nameExist}"></div>
								</div>
							</div>

							<div class="row form-group" th:if="${btnFunction} == 'Save'">
								<label for="deptId" class="col-sm-3 col-form-label">dept
									Id</label>
								<div class="col-sm-9">
									<select name="deptId" id="deptId" class="form-control"
										th:disabled="${btnFunction == 'Update'}">
										<option value="" disabled>--- Select deptId ---</option>
										<option value="" selected hidden>--- Select deptId ---</option>
										<option th:each="dept : ${lisDepts}" th:value="${dept.deptId}"
											th:text="${dept.deptId}"></option>
									</select>
									<div class="text-danger text-left"></div>
								</div>
							</div>

							<div class="row form-group" th:if="${btnFunction} == 'Update'">
								<label for="deptId" class="col-sm-3 col-form-label">dept
									Id</label>
								<div class="col-sm-9">
									<select name="deptId" id="deptId" class="form-control"
										th:disabled="${btnFunction == 'Update'}">
										<option th:value="${projectModel.deptId}"
											th:text="${projectModel.deptId}"></option>
									</select>
									<div class="text-danger text-left"></div>
								</div>
							</div>

							<div class="form-group row">
								<label for="difficulty" class="col-sm-3 col-form-label">difficulty</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="difficulty"
										name="difficulty" th:value="${projectModel.difficulty}">
									<div class="text-danger text-left"></div>
								</div>
							</div>


							<div class="form-group row">
								<div class="col-sm-3">
									<input type="number" hidden class="form-control" id="version"
										name="version" th:value="${projectModel.version}">
								</div>
								<div class="col-sm-3">
									<input type="date" hidden class="form-control" id="insTm"
										name="insTm" th:value="${projectModel.insTm}">
								</div>
								<div class="col-sm-3">
									<input type="date" hidden class="form-control" id="updTm"
										name="updTm" th:value="${projectModel.updTm}">
								</div>
								<div class="col-sm-3">
									<input type="text" class="form-control" hidden id="deptId"
										name="deptId" th:value="${projectModel.deptId}">
								</div>

							</div>


							<div class="form-group d-flex justify-content-center"
								th:if="${btnFunction} == 'Save'">
								<input id="register-btn" type="submit" class="btn btn-primary"
									name="action" th:value="${btnFunction}">
							</div>

							<div class="form-group d-flex justify-content-center"
								th:if="${btnFunction} == 'Update'">
								<input id="register-btn" type="submit" class="btn btn-success"
									name="action" th:value="${btnFunction}">
							</div>
						</form>
					</div>
				</div>
			</div>

			<!-- bỏ -->
			<div class="col-1"></div>
		</div>

	</div>


	<div th:replace="/fragments/footer :: footer"></div>
		<link rel="stylesheet" th:href="@{/css/AddOrUpdateProject.css}">
	<script type="text/javascript" th:src="@{/js/AddOrUpdateProject.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
	
</body>
</html>
