<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
	
<head th:replace="/fragments/header :: html_head">

</head>
<body>
	<div th:replace="/fragments/header :: header"></div>


	<div class="row w-100">
		<div
			class="col-6 d-flex justify-content-center text-center flex-column w-100">
			<h1>Hi</h1>
			<h3>My name Sy~</h3>
			<div class="row w-100 d-flex justify-content-center miniInfor">This is my mini web.</div>
		</div>
		<div class="col-6 px-5 py-4">
			<div style="border-radius: 24px;"
				class="image1 d-flex justify-content-center">
				<img alt="" th:src="@{/images/IMG_1765.JPG}">
			</div>
		</div>
	</div>

	<div th:replace="/fragments/footer :: footer"></div>
	<link rel="stylesheet" th:href="@{/css/home.css}">
</body>
</html>
