<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org ">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href= "@{/css/linkCSS.css}">
</head>
 
<body>
    <div class="center">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
        		<div th:if="${param.error}" style="color: red;">Invalid username
				and password.</div>
							
						<div th:if="${param.logout}" style="color: red">
						You have been logged out.
						</div>
            <div class="txt_field">
                <input type="text" id="UserName" name="username" required>
                <label for="">Username</label>
            </div>

            <div class="txt_field">
                <input type="password" id="Password" name="password" required>
                <label for="">Password</label>
            </div>
            <div class="pass" style="margin-bottom: 5px;">Forgot Password?</div>
            <button type="submit" class="button_submit">Login</button>
            <div class="signup_link">
                Not a member? <a href="#">Signup</a>
            </div>
        </form>
    </div>
</body>

</html>