<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">

<head th:replace="/fragments/header :: html_head">

</head>
<body>
	<div th:replace="/fragments/header :: header"></div>

	<div class="container-fluid ">

		<!-- Bảng -->
		<div class="row">
			<!-- bỏ -->
			<div class="col-1"></div>

			<!-- Giao diện chính nằm ở đây -->
			<div class="col-10 ">

				<div class="row mt-4">
					<div class="col-9">
						<div class="row">
							<form th:action="@{/search(inputSearch=${inputSearch})}"
								class="w-100 d-flex ">
								<input type="text" class="form-control w-25" id="inputSearch"
									th:value="${inputSearch}" placeholder="Search"
									name="inputSearch">
								<button type="submit" class="btn btn-primary">Search</button>
							</form>
						</div>
					</div>
					<div class="col-3">
						<div class="float-right">
							<a th:href="@{/addProject}">
								<button type="submit" class="btn btn-success">REGISTER</button>
							</a>
						</div>
					</div>
				</div>

				<div
					class="row mt-4 justify-content-center w-100 align-items-center">
					<div class="alert alert-info"
						th:if="${param.btnFunction + '' == 'Save'}">
						<i><strong>Tạo mới thành công</strong></i>
					</div>
					<div class="alert alert-success"
						th:if="${param.btnFunction} + '' == 'Update'">
						<i><strong>Update thành công</strong></i>
					</div>
					<div class="alert alert-warning"
						th:if="${btnFunction} + '' == 'Delete'">
						<i><strong>Delete thành công</strong></i>
					</div>
				</div>


				<div class="row">
					<div class="col-12 text-center  mb-3">
						<h2>List of project</h2>
					</div>
				</div>

				<!-- List danh sách hóa đơn -->
				<div class="row">
					<div class="col-12">
						<table class="table align-middle mb-0 bg-white">
							<thead id="header">
								<tr>
									<th scope="col">#</th>
									<th scope="col">Project_name</th>
									<th scope="col">dept_id</th>
									<th scope="col">difficulty</th>
									<th scope="col">ins_tm</th>
									<th scope="col">upd_tm</th>
									<th scope="col">version</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody id="body">
								<tr th:each="project, iStat : ${ProjectPage.content}"
									th:alt-title="${iStat.even}? 'even' : 'odd'">
									<td><a
										th:href="@{/updateProject(projectId=${project.projectId})}"><b><i
												th:text="${project.projectId}"></i></b></a></td>
									<td th:text="${project.projectName}" />
									<td th:text="${project.deptId}	" />
									<td th:text="${project.difficulty}" />
									<td th:text="${project.insTm}" />
									<td th:text="${#dates.format(project.updTm, 'yyyy/MM/dd')}" />
									<td th:text="${project.version}" />
									<td><a
										th:href="@{/deleteProject/(projectId=${project.projectId})}"
										class="hrefDelete btn btn-primary"><i class="fas fa-trash"></i>
									</a></td>
								</tr> 
							</tbody>
							<tfoot id="footer">

							</tfoot>
						</table>
					</div>
				</div>

				<div th:if="${ProjectPage.totalPages > 0}" class="pagination">
					<div class="pagination-list">
						<div class="pagination-items">
							<a th:each="pageNumber : ${pageNumbers}"
								th:href="@{/projectList(size=${ProjectPage.size}, page=${pageNumber})}"
								th:text="${pageNumber}"
								th:class="${pageNumber == ProjectPage.number + 1} ? 'active' : ''">
							</a>
						</div>
					</div>
				</div>


			</div>

			<!-- bỏ -->
			<div class="col-1"></div>
		</div>

	</div>


	<div th:replace="/fragments/footer :: footer"></div>
	<script type="text/javascript" th:src="@{js/icon.js}"
		crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/listProject.css}">
	<script type="text/javascript" th:src="@{/js/listProject.js}"></script>
	<script type="text/javascript" th:src="@{/js/AddOrUpdateProject.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script>
</body>
</html>
