<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head th:fragment="html_head">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=], initial-scale=1.0" />
<link rel="stylesheet" th:src="@{/fontawesome/css/all.min.css}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<script th:src="@{js/jquery.slim.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>

<link th:href="@{/css/sweetalert2.min.css}" rel="stylesheet">
<title>Document</title>

<style>
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px; /* Height of the footer */
	background: #6cf;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li a:hover,
.home:hover {
	transform: scale(1.05);
	transition: 1s;
}

li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
</style>
</head>
<body>
	<div th:fragment="header">
		<div class="d-flex  justify-content-start align-items-center"></div>
		<nav
			class="navbar navbar-expand-lg navbar-toggler navbar-dark navbar-expand-md>.container d-flex justify-content-between border-bottom"
			style="background-color: rgb(119, 198, 237)">
			<a class="navbar-brand mr-4 home" th:href="@{/home}"
				style="font-size: xx-large;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"><b> Home </b></a>


			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav  mr-auto">
					<li class=" mr-4"><a class="nav-link " th:href="@{/projectList}"
						id="navbarDropdown" role="button" data-toggle=""
						aria-haspopup="true" aria-expanded="true"
						style="font-size: x-large;"><b>Project list</b></a></li>


				</ul>
			</div>
			 <form  th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0 mr-3">
            <button class="btn btn-block btn-outline-info my-2 my-sm-0" type="submit">
                LOGOUT
            </button>
        </form>
		</nav>
	</div>
</body>
</html>
