img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.image1{
    height: 640px;
    width: 90%;
}

.miniInfor{
    text-decoration: overline;
    font-size: 0.4in;
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}