@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.pagination {
  text-align: right;
}

.pagination-list {
  float: right;
}

.pagination-items {
  display: inline-block;
}

.pagination-items a {
  margin-right: 10px;
}
